@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-calendar {
  @apply !border-0 rounded-md !w-full !max-w-full;
}

.react-calendar__tile--now {
  @apply !bg-yellow-300;
}

.react-calendar__tile--active {
  @apply !bg-purple-300 !text-black;
}

.rbc-btn-group:first-child {
  /* @apply !hidden; */
}

.rbc-toolbar .rbc-toolbar-label {
  @apply !text-end;

}

.rbc-btn-group button {
  @apply !bg-blue-100 !text-gray-700 !px-4 !py-2 !text-sm !border-none !shadow-none;

}

.rbc-toolbar button.rbc-active {
  @apply !bg-blue-300 !text-gray-900 !text-sm;
}

.rbc-time-view {
  border-color:
    #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 95% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}

.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}

.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}

.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;

}

.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}

.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}

.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}

.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px !important;
}